# Diccionarios

In [1]:
import random # To generate new values
import pandas as pd # To manipulate data
import json # To save,update and load data on format json
import numpy as np # Use some transformations

¿Qué son los diccionarios?

Los diccionarios en Python son un tipo de estructuras de datos que permite guardar un conjunto no ordenado de pares por medio de una clave y un valor, siendo el valor una lista, un string, un caracter, un arreglo, entre otros.

Se crearan los siguentes diccionarios, esto para crear datos de personas con edad,ojo de color y ciudad

In [2]:
names_to_add = {1: "Alejandro",
                2: "Joel",
                3: "Daniel",
                4: "Luis",
                5: "Armando",
                6: "Gerardo",
                7: "Alfredo",
                8: "Jorge",
                9: "Mike",
                10: "Carlos",
                11: "Cristian",
                12: "Manuel",
                13: "Ivan"}

age_to_add = {1: 23,
              2: 54,
              3: 34,
              4: 19,
              5: 27,
              6: 33,
              7: 29,
              8: 36,
              9: 42,
              10: 52,
              11: np.NAN}

eye_color = {1: "Blue",
             2: "Brown",
             3: "Black",
             4: "Green",
             5: np.NAN}

city_to_add = {1: "CDMX",
               2: "Monterrey",
               3: "Queretaro",
               4: "Zacatecas",
               5: "EDOMEX",
               6: "Quintana Roo",
               7: "Oaxaca",
               8: "Tlaxcala",
               9: "Veracruz",
               10: np.NAN}

folio_id = {i: str(1000 + i).zfill(6) for i in range(1,36)}
# Creamos folios unicos de 35 sucursales en los que trabajan

In [3]:
for k,v in names_to_add.items(): #K for key & v for value
    print("La llave {} tiene como valor: {}".format(k,v))

La llave 1 tiene como valor: Alejandro
La llave 2 tiene como valor: Joel
La llave 3 tiene como valor: Daniel
La llave 4 tiene como valor: Luis
La llave 5 tiene como valor: Armando
La llave 6 tiene como valor: Gerardo
La llave 7 tiene como valor: Alfredo
La llave 8 tiene como valor: Jorge
La llave 9 tiene como valor: Mike
La llave 10 tiene como valor: Carlos
La llave 11 tiene como valor: Cristian
La llave 12 tiene como valor: Manuel
La llave 13 tiene como valor: Ivan

## Creación del dataset

Vamos a crear un conjunto de datos con estos diccionarios, para tenerlo en un diccionario total y almacenarlo en un archivo json

In [4]:
n_total = 15 # Registros a simular
dict_totalDF = {}


for i in range(0,n_total):
    dict_toDF = {}
    dict_toDF["Name"] = names_to_add[random.randint(1,13)]
    dict_toDF["Age"] = age_to_add[random.randint(1,11)]
    dict_toDF["Eye Color"] = eye_color[random.randint(1,5)]
    dict_toDF["City"] = city_to_add[random.randint(1,10)]
    dict_toDF["Id"] = folio_id[random.randint(1,35)]
    dict_totalDF["Registro No."+str(i).zfill(6)] = dict_toDF

Veamos el contenido creado en un diccionario

In [5]:
dict_totalDF

{'Registro No.000000': {'Name': 'Alfredo',
  'Age': 42,
  'Eye Color': 'Green',
  'City': 'Zacatecas',
  'Id': '001005'},
 'Registro No.000001': {'Name': 'Armando',
  'Age': 27,
  'Eye Color': nan,
  'City': 'Veracruz',
  'Id': '001009'},
 'Registro No.000002': {'Name': 'Joel',
  'Age': 33,
  'Eye Color': nan,
  'City': 'CDMX',
  'Id': '001003'},
 'Registro No.000003': {'Name': 'Cristian',
  'Age': nan,
  'Eye Color': nan,
  'City': 'Zacatecas',
  'Id': '001026'},
 'Registro No.000004': {'Name': 'Armando',
  'Age': 19,
  'Eye Color': 'Green',
  'City': 'Veracruz',
  'Id': '001006'},
 'Registro No.000005': {'Name': 'Carlos',
  'Age': 54,
  'Eye Color': 'Brown',
  'City': 'Queretaro',
  'Id': '001015'},
 'Registro No.000006': {'Name': 'Jorge',
  'Age': 29,
  'Eye Color': 'Brown',
  'City': nan,
  'Id': '001033'},
 'Registro No.000007': {'Name': 'Alejandro',
  'Age': 42,
  'Eye Color': 'Black',
  'City': 'EDOMEX',
  'Id': '001033'},
 'Registro No.000008': {'Name': 'Jorge',
  'Age': nan,
  'Eye Color': 'Brown',
  'City': 'Queretaro',
  'Id': '001009'},
 'Registro No.000009': {'Name': 'Gerardo',
  'Age': 36,
  'Eye Color': nan,
  'City': 'Oaxaca',
  'Id': '001007'},
 'Registro No.000010': {'Name': 'Ivan',
  'Age': nan,
  'Eye Color': 'Green',
  'City': 'Queretaro',
  'Id': '001001'},
 'Registro No.000011': {'Name': 'Carlos',
  'Age': 23,
  'Eye Color': 'Brown',
  'City': 'Quintana Roo',
  'Id': '001014'},
 'Registro No.000012': {'Name': 'Joel',
  'Age': 34,
  'Eye Color': 'Black',
  'City': 'Veracruz',
  'Id': '001034'},
 'Registro No.000013': {'Name': 'Mike',
  'Age': nan,
  'Eye Color': 'Black',
  'City': 'Oaxaca',
  'Id': '001019'},
 'Registro No.000014': {'Name': 'Alfredo',
  'Age': 27,
  'Eye Color': 'Green',
  'City': 'CDMX',
  'Id': '001035'}}

Veamos las llaves de nuestro diccionario principal

In [6]:
dict_totalDF.keys()

dict_keys(['Registro No.000000', 'Registro No.000001', 'Registro No.000002', 'Registro No.000003', 'Registro No.000004', 'Registro No.000005', 'Registro No.000006', 'Registro No.000007', 'Registro No.000008', 'Registro No.000009', 'Registro No.000010', 'Registro No.000011', 'Registro No.000012', 'Registro No.000013', 'Registro No.000014'])

Si accedemos al primer registro

In [7]:
dict_totalDF['Registro No.000000']

{'Name': 'Alfredo',
 'Age': 42,
 'Eye Color': 'Green',
 'City': 'Zacatecas',
 'Id': '001005'}

## Almacenando la información en una lista de diccionarios

In [8]:
list_dict = []
for key_id in dict_totalDF.keys():
    list_dict.append(dict_totalDF[key_id])

In [9]:
df_MX = pd.DataFrame.from_dict(list_dict)
df_MX.head(15)

         Name   Age Eye Color          City      Id
0     Alfredo  42.0     Green     Zacatecas  001005
1     Armando  27.0       NaN      Veracruz  001009
2        Joel  33.0       NaN          CDMX  001003
3    Cristian   NaN       NaN     Zacatecas  001026
4     Armando  19.0     Green      Veracruz  001006
5      Carlos  54.0     Brown     Queretaro  001015
6       Jorge  29.0     Brown           NaN  001033
7   Alejandro  42.0     Black        EDOMEX  001033
8       Jorge   NaN     Brown     Queretaro  001009
9     Gerardo  36.0       NaN        Oaxaca  001007
10       Ivan   NaN     Green     Queretaro  001001
11     Carlos  23.0     Brown  Quintana Roo  001014
12       Joel  34.0     Black      Veracruz  001034
13       Mike   NaN     Black        Oaxaca  001019
14    Alfredo  27.0     Green          CDMX  001035

In [10]:
df_MX.sort_values(["Name","City"]).head(15)

         Name   Age Eye Color          City      Id
7   Alejandro  42.0     Black        EDOMEX  001033
14    Alfredo  27.0     Green          CDMX  001035
0     Alfredo  42.0     Green     Zacatecas  001005
1     Armando  27.0       NaN      Veracruz  001009
4     Armando  19.0     Green      Veracruz  001006
5      Carlos  54.0     Brown     Queretaro  001015
11     Carlos  23.0     Brown  Quintana Roo  001014
3    Cristian   NaN       NaN     Zacatecas  001026
9     Gerardo  36.0       NaN        Oaxaca  001007
10       Ivan   NaN     Green     Queretaro  001001
2        Joel  33.0       NaN          CDMX  001003
12       Joel  34.0     Black      Veracruz  001034
8       Jorge   NaN     Brown     Queretaro  001009
6       Jorge  29.0     Brown           NaN  001033
13       Mike   NaN     Black        Oaxaca  001019

In [11]:
df_MX.shape # Numero de registros y campos del dataframe

(15, 5)

In [12]:
df_NameCity_EyeColor = df_MX.groupby(["Name","City"], dropna=False)["Eye Color"].count()
df_NameCity_EyeColor

Name       City
Alejandro  EDOMEX          1
Alfredo    CDMX            1
           Zacatecas       1
Armando    Veracruz        1
Carlos     Queretaro       1
           Quintana Roo    1
Cristian   Zacatecas       0
Gerardo    Oaxaca          0
Ivan       Queretaro       1
Joel       CDMX            0
           Veracruz        1
Jorge      Queretaro       1
           NaN             1
Mike       Oaxaca          1
Name: Eye Color, dtype: int64

In [13]:
df_NameCity_Age = df_MX.groupby(["Name","City"], dropna=False)["Age"].mean()
df_NameCity_Age

Name       City
Alejandro  EDOMEX          42.0
Alfredo    CDMX            27.0
           Zacatecas       42.0
Armando    Veracruz        23.0
Carlos     Queretaro       54.0
           Quintana Roo    23.0
Cristian   Zacatecas        NaN
Gerardo    Oaxaca          36.0
Ivan       Queretaro        NaN
Joel       CDMX            33.0
           Veracruz        34.0
Jorge      Queretaro        NaN
           NaN             29.0
Mike       Oaxaca           NaN
Name: Age, dtype: float64

## Almacenando la información en un archivo JSON

In [14]:
with open('dataPeople.json', 'w') as toSave:
    json.dump(dict_totalDF, toSave)

## Leyendo el diccionario guardado en el json

In [15]:
with open('dataPeople.json', 'r') as toLoad:
    dataPeople = json.load(toLoad)

In [16]:
dataPeople

{'Registro No.000000': {'Name': 'Alfredo',
  'Age': 42,
  'Eye Color': 'Green',
  'City': 'Zacatecas',
  'Id': '001005'},
 'Registro No.000001': {'Name': 'Armando',
  'Age': 27,
  'Eye Color': nan,
  'City': 'Veracruz',
  'Id': '001009'},
 'Registro No.000002': {'Name': 'Joel',
  'Age': 33,
  'Eye Color': nan,
  'City': 'CDMX',
  'Id': '001003'},
 'Registro No.000003': {'Name': 'Cristian',
  'Age': nan,
  'Eye Color': nan,
  'City': 'Zacatecas',
  'Id': '001026'},
 'Registro No.000004': {'Name': 'Armando',
  'Age': 19,
  'Eye Color': 'Green',
  'City': 'Veracruz',
  'Id': '001006'},
 'Registro No.000005': {'Name': 'Carlos',
  'Age': 54,
  'Eye Color': 'Brown',
  'City': 'Queretaro',
  'Id': '001015'},
 'Registro No.000006': {'Name': 'Jorge',
  'Age': 29,
  'Eye Color': 'Brown',
  'City': nan,
  'Id': '001033'},
 'Registro No.000007': {'Name': 'Alejandro',
  'Age': 42,
  'Eye Color': 'Black',
  'City': 'EDOMEX',
  'Id': '001033'},
 'Registro No.000008': {'Name': 'Jorge',
  'Age': nan,
  'Eye Color': 'Brown',
  'City': 'Queretaro',
  'Id': '001009'},
 'Registro No.000009': {'Name': 'Gerardo',
  'Age': 36,
  'Eye Color': nan,
  'City': 'Oaxaca',
  'Id': '001007'},
 'Registro No.000010': {'Name': 'Ivan',
  'Age': nan,
  'Eye Color': 'Green',
  'City': 'Queretaro',
  'Id': '001001'},
 'Registro No.000011': {'Name': 'Carlos',
  'Age': 23,
  'Eye Color': 'Brown',
  'City': 'Quintana Roo',
  'Id': '001014'},
 'Registro No.000012': {'Name': 'Joel',
  'Age': 34,
  'Eye Color': 'Black',
  'City': 'Veracruz',
  'Id': '001034'},
 'Registro No.000013': {'Name': 'Mike',
  'Age': nan,
  'Eye Color': 'Black',
  'City': 'Oaxaca',
  'Id': '001019'},
 'Registro No.000014': {'Name': 'Alfredo',
  'Age': 27,
  'Eye Color': 'Green',
  'City': 'CDMX',
  'Id': '001035'}}

In [17]:
len(dataPeople) # VIENDO EL TAMAÑO DE DATOS EXISTENTES

15

## Código para agregar nuevos registros

In [18]:
def AddKeys(dict_original,new_key):
    all_ids = []
    for key_unique in dict_original.keys():
        all_ids.append(int(key_unique.replace("Registro No.","")))
        
    if new_key in all_ids:
        dict_local = "Existe"
    else:
        print("Agregando nuevo registro")
        dict_local = {}
        dict_local["Name"] = input("Dame tu nombre:\t")
        dict_local["Age"] = int(input("Dame tu edad:\t"))
        dict_local["Eye Color"] = input("Dame el color de tus ojos:\t")
        dict_local["City"] = input("Dame el nombre de tu ciudad:\t")
        dict_local['Id'] = input("Dame el  folio de tu sucursal:\t")
    return dict_local

In [19]:
new_ids = [14,15]
for new_id in new_ids:
    dict_new = AddKeys(dataPeople,new_id)
    if type(dict_new) == dict:
        print("\n")
        dataPeople["Registro No."+str(new_id).zfill(6)] = dict_new
        print("Ahora el diccionario tiene {} elementos (llaves)".format(len(dataPeople)))
    else:
        print("\n")
        print("Registro duplicado o existente")
        print("\n")

Registro duplicado o existente


Agregando nuevo registro
Dame tu nombre:	Alejandro Zavala
Dame tu edad:	23
Dame el color de tus ojos:	Cafe
Dame el nombre de tu ciudad:	CDMX
Dame el  folio de tu sucursal:	001021


Ahora el diccionario tiene 16 elementos (llaves)

In [20]:
dataPeople['Registro No.000015']

{'Name': 'Alejandro Zavala',
 'Age': 23,
 'Eye Color': 'Cafe',
 'City': 'CDMX',
 'Id': '001021'}

In [21]:
with open('dataPeople.json', 'w') as toSave:
    json.dump(dataPeople, toSave)