# Loops en python

> "Un bucle se usa para iterar sobre una secuencia (es decir, una lista, una tupla, un diccionario, un conjunto o una cadena)."

## Tabla de multiplicar del numero 8, de 0 a 10 en pasos de 1

In [1]:
for i in range(0,11,1):
    print("{} * {} = {}".format(8,i,8*i))

8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

## Tabla de multiplicar del numero "num", de"a" s "b"  en pasos de k

In [2]:
num = 14
a = 10
b = 50
k = 5

try:
    for i in range(a,b+1,k):
        print("{} * {} = {}".format(num,i,num*i))
except:
    print("Fallo el loop, revisa las variables ingresadas")

14 * 10 = 140
14 * 15 = 210
14 * 20 = 280
14 * 25 = 350
14 * 30 = 420
14 * 35 = 490
14 * 40 = 560
14 * 45 = 630
14 * 50 = 700

## Imprimir numeros impares y pares de "a" a "b"

In [3]:
a = -24
b = 24
k = 1
try:
    for i in range(a,b+1,k):
        if not i % 2 == 0:
            print("El numero {} es impar".format(i))
        else:
            print("El numero {} es par".format(i))
except:
    print("Fallo el loop, revisa las variables ingresadas")

El numero -24 es par
El numero -23 es impar
El numero -22 es par
El numero -21 es impar
El numero -20 es par
El numero -19 es impar
El numero -18 es par
El numero -17 es impar
El numero -16 es par
El numero -15 es impar
El numero -14 es par
El numero -13 es impar
El numero -12 es par
El numero -11 es impar
El numero -10 es par
El numero -9 es impar
El numero -8 es par
El numero -7 es impar
El numero -6 es par
El numero -5 es impar
El numero -4 es par
El numero -3 es impar
El numero -2 es par
El numero -1 es impar
El numero 0 es par
El numero 1 es impar
El numero 2 es par
El numero 3 es impar
El numero 4 es par
El numero 5 es impar
El numero 6 es par
El numero 7 es impar
El numero 8 es par
El numero 9 es impar
El numero 10 es par
El numero 11 es impar
El numero 12 es par
El numero 13 es impar
El numero 14 es par
El numero 15 es impar
El numero 16 es par
El numero 17 es impar
El numero 18 es par
El numero 19 es impar
El numero 20 es par
El numero 21 es impar
El numero 22 es par
El numero 23 es impar
El numero 24 es par

## Mostar numeros del intervalo "a" a "b" con la condición de que se muestren solo los números menores o iguales a un "número dado", en pasos de k

In [4]:
a = -50
b = 150
k = 10
num_lim = 10
try:
    print("El numero limite dado es: {} \n".format(num_lim));
    
    for i in range(a,b+1,k):
        if i <= num_lim:
            print("El numero {} cumple la condición dada".format(i));
        else:
            continue;
except:
    print("Fallo el loop, revisa las variables ingresadas")

El numero limite dado es: 10

El numero -50 cumple la condición dada
El numero -40 cumple la condición dada
El numero -30 cumple la condición dada
El numero -20 cumple la condición dada
El numero -10 cumple la condición dada
El numero 0 cumple la condición dada
El numero 10 cumple la condición dada

# Imprima los números del 1 a 10 al revés utilizando el ciclo for

In [5]:
for i in range(10,1-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1